<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Home", "Index", "People", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="peopleDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            List of People
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="peopleDropdown">
                            <li><a class="dropdown-item" href="@Url.Content("~/HTML/Person01.html")">Keshiv Gounden</a></li>
                            <li><a class="dropdown-item" href="@Url.Content("~/HTML/Person02.html")">Modiri Thobane</a></li>
                            <li><a class="dropdown-item" href="@Url.Content("~/HTML/Person03.html")">Naqeeb Hussain Dawood</a></li>
                            <li><a class="dropdown-item" href="@Url.Content("~/HTML/Person04.html")">Dian Erasmus</a></li>
                            <li><a class="dropdown-item" href="@Url.Content("~/HTML/Person05.html")">Nicola James</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
