@model IEnumerable<u24687473_INF272_Practical_2.Models.Students>

<h2>Group Members</h2>

<table class="table table-striped">
    <tr>
        <th>Student Number</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Profile</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.StudentID</td>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.StudentEmail</td>
            <td>
                <a href="@Url.Content(item.myLink)" class="btn btn-primary" target="_blank">Link</a>
            </td>
        </tr>
    }
</table>